<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mainLayout}">
<head>
    <meta charset="UTF-8">
    <title th:text="#{header.label}"/>
</head>
<body>
<div th:fragment="header">
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none" href="/">
                <svg class="bi me-2" height="32" width="40">
                    <use xlink:href="#bootstrap"></use>
                </svg>
                <span class="fs-4" th:text="#{application.name}"></span>
            </a>

            <!--Przywitanie z nazwą użytkownika-->
            <span class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-primary text-decoration-none"
                  th:text="|#{header.welcome} ${#authentication.getPrincipal().username}|"></span>

            <ul class="nav nav-pills">
                <li class="nav-item"><a aria-current="page" class="nav-link active" th:text="#{header.home}"
                                        href="/"></a></li>
                <li th:if="${#authorization.expression('hasRole(''ROLE_MANAGE_PROJECT'')')} or ${#authorization.expression('hasRole(''ROLE_USER_TAB'')')}"
                    class="nav-item"><a class="nav-link" th:text="#{header.projects}" href="/projects"></a></li>
                <li th:if="${#authorization.expression('hasRole(''ROLE_MANAGE_PROJECT'')')} or ${#authorization.expression('hasRole(''ROLE_USER_TAB'')')} or ${#authorization.expression('hasRole(''ROLE_MANAGE_COMMENTS'')')}"
                    class="nav-item"><a class="nav-link" th:text="#{header.issues}" href="/issues"></a></li>
                <li th:if="${#authorization.expression('hasRole(''ROLE_MANAGE_USERS'')')} or ${#authorization.expression('hasRole(''ROLE_USER_TAB'')')}"
                    class="nav-item"><a class="nav-link" th:text="#{header.users}" href="/people"></a></li>

                <!--Wyloguj się-->
                <form th:action="@{/logout}" method="post" class="form-inline">
                    <input type="submit" th:value="#{login.logout}" class="btn btn-outline-primary"/>
                </form>
            </ul>
        </header>
    </div>
</div>
</body>
</html>