<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mainLayout}">
<head>
    <meta charset="UTF-8">
    <title th:text="#{people.label}"/>
</head>
<body>
<section layout:fragment="custom-content">
    <div class="container">

        <!--Komunikaty dymkowe-->
        <div class="col-4">
            <div class="alert alert-success" th:if="${status == 'success'}" th:text="#{issue.success.message}"></div>
            <div class="alert alert-danger" th:if="${status == 'error'}" th:text="#{issue.error.message}"></div>
        </div>

        <!--Dane użytkownika-->
        <h1 th:text="|#{people.userData} ${person.username}|"></h1>

        <form th:action="@{people/changePassword/{id}(id=${person.id})}" th:object="${person}" method="post">
            <!--Przekazanie w ukrytym polu id obiektu aby było wiadomo że jest to istniejący obiekt w bazie danych-->
            <input type="hidden" th:field="*{id}">

                <!--Hasło-->
                <div class="mb-3 row">
                    <div class="col-2">
                        <label for="person-password" class="form-label" th:text="#{common.password}"></label>
                    </div>

                    <div class="col-4">
                        <input type="password"
                               id="person-password"
                               th:field="*{password}"
                               class="form-control"
                               disabled>
                    </div>
                </div>

                <!--Powtórzenie hasła-->
                <div class="mb-3 row">
                    <div class="col-2">
                        <label for="repeated-password" class="form-label" th:text="#{common.repeatedPassword}"></label>
                    </div>

                    <div class="col-4">
                        <input type="password"
                               id="repeated-password"
                               th:field="*{repeatedPassword}"
                               class="form-control"
                               disabled>
                    </div>
                </div>

            <!--Przycisk zapisz-->
            <button type="submit" class="btn btn-primary" th:text="#{common.save}"></button>

            <!--Przycisk anuluj-->
            <a th:href="@{../editUser/{id}(id=${person.id})}" class="btn btn-secondary"
               th:text="#{common.cancel}"></a>

            <!--Przycisk powrotu-->
            <a th:href="@{/people/myAccount/editUser}" class="btn btn-outline-secondary" th:text="#{common.return}"></a>
        </form>
    </div>
</section>
</body>
</html>