<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mainLayout}">
<head>
    <meta charset="UTF-8">
    <title th:text="#{people.label}"/>
</head>
<body>
<section layout:fragment="custom-content">
    <div class="container">

        <div class="d-flex justify-content-center">
            <!--Komunikaty dymkowe-->
            <div th:if="${status == 'success'}" class="col-8 alert alert-warning alert-dismissible fade show" role="alert">
                <div th:text="#{success.message}"></div>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div th:if="${status == 'error'}" class="col-8 alert alert-danger alert-dismissible fade show" role="alert">
                <div th:text="#{error.message}"></div>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>

        <form th:action="@{/people/updatePassword/{id}(id=${passwordForm.id})}" th:object="${passwordForm}" method="post">
            <!--Przekazanie w ukrytym polu id obiektu aby było wiadomo że jest to istniejący obiekt w bazie danych-->
            <input type="hidden" th:field="*{id}">

            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-3">
                        <img src="/images/user-profile.png" class="img-fluid rounded-start" alt="user-profile">
                    </div>

                    <div class="col-md-9">
                        <div class="card-body">
                            <!--Dane użytkownika-->
                            <h1 class="card-title" th:text="|#{people.userData} ${passwordForm.realName}|"></h1>

                            <p class="card-text">
                            <div class="mb-3 row mt-3">
                                <div class="col">
                                    <!--Hasło-->
                                    <div class="mb-3 row mt-3">
                                        <div class="col-3">
                                            <label for="person-password" class="form-label" th:text="#{common.password}"></label>
                                        </div>

                                        <div class="col-6">
                                            <input type="password" placeholder="***********"
                                                   th:class="'form-control ' + ${#fields.hasErrors('password') ? 'is-invalid' : ''}"
                                                   id="person-password"
                                                   th:field="*{password}"
                                                   autofocus>
                                            <div class="form-text">
                                                <!--tekst na czerwono z błędami-->
                                                <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                                                      class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <!--Powtórzenie hasła-->
                                    <div class="mb-3 row">
                                        <div class="col-3">
                                            <label for="repeated-password" class="form-label" th:text="#{common.repeatedPassword}"></label>
                                        </div>

                                        <div class="col-6">
                                            <input type="password" placeholder="***********"
                                                   th:class="'form-control ' + ${#fields.hasErrors('repeatedPassword') ? 'is-invalid' : ''}"
                                                   id="repeated-password"
                                                   th:field="*{repeatedPassword}">
                                            <div class="form-text">
                                                <!--tekst na czerwono z błędami-->
                                                <span th:if="${#fields.hasErrors('repeatedPassword')}" th:errors="*{repeatedPassword}"
                                                      class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </p>
                        </div>
                    </div>

                    <div class="card-footer">
                        <div class="d-grid gap-2 d-md-flex">

                            <!--Przycisk zapisz-->
                            <button type="submit" class="btn btn-primary"
                                    th:text="#{common.save}"></button>

                            <!--Przycisk anuluj-->
                            <button type="reset" class="btn btn-secondary"
                                    th:text="#{common.cancel}"></button>

                            <!--Przycisk powrotu-->
                            <a th:href="@{/people/editUserForm/{id}(id=${passwordForm.id})}"
                               class="btn btn-outline-secondary" th:text="#{common.return}"></a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
</body>
</html>