<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mainLayout}">
<head>
    <meta charset="UTF-8">
    <title th:text="#{people.label}"/>
</head>
<body>
<section layout:fragment="custom-content">
    <div class="container">

        <!--Lista użytkowników-->
        <h1 class="text-center" th:text="#{people.peopleList}"></h1>

        <!--Komunikaty dymkowe-->
        <div th:if="${status == 'success'}" class="col-4 alert alert-success alert-dismissible fade show" role="alert">
            <div th:text="#{success.message}"></div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        <!--sortowanie - strzałki-->
        <div class="row py-3">
            <span th:text="#{sort.order}"></span>
            <span th:with="sortingDir=${person.sort.getOrderFor('username') != null ? person.sort.getOrderFor('username').direction.toString() : null }">
                    <a th:href="@{'/people?' + ${filter.toQueryString(person.number, filter.findNextSorting(person.sort))}}">
                        <i th:if="${sortingDir == null}" class="fa-solid fa-sort fa-xl"></i>
                        <i th:if="${sortingDir == 'ASC'}" class="fa-solid fa-sort-up fa-xl"></i>
                        <i th:if="${sortingDir == 'DESC'}" class="fa-solid fa-sort-down fa-xl"></i>
                    </a>
                </span>
        </div>

        <!--Nowy użytkownik-->
        <div class="py-3">
            <a th:if="${#authorization.expression('hasRole(''ROLE_MANAGE_USERS'')')}"
               th:href="@{/people/create}" class="btn btn-success" th:text="#{people.create}"></a>
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <!--Nazwa użytkownika-->
                <th th:text="#{common.username}"></th>
                <!--Imię i nazwisko-->
                <th th:text="#{common.realName}"></th>
                <!--Email-->
                <th th:text="#{common.email}"></th>
                <!--Edycja-->
                <th th:if="${#authorization.expression('hasRole(''ROLE_MANAGE_USERS'')')}"
                    th:text="#{common.edition}"></th>
                <!--Usuwanie-->
                <th th:if="${#authorization.expression('hasRole(''ROLE_MANAGE_USERS'')')}"
                    th:text="#{common.removal}"></th>
            </tr>
            </thead>

            <tbody class="table-group-divider">
            <!--wyświetli w pętli wszystkich użytkowników-->
            <tr th:each="per: ${person}">
                <td th:text="${per.username}"></td>
                <td th:text="${per.realName}"></td>
                <td th:text="${per.email}"></td>
                <!--Edytuj-->
                <td th:if="${#authorization.expression('hasRole(''ROLE_MANAGE_USERS'')')}">
                    <a th:href="@{'/people/editPersonForm/' + ${per.id}}" class="btn btn-outline-secondary"
                       th:text="#{common.edit}"></a>
                </td>
                <!--Usuń-->
                <td th:if="${#authorization.expression('hasRole(''ROLE_MANAGE_USERS'')')}">
                    <a th:if="${per.id}" th:href="@{/people/delete/{id}(id=${per.id})}"
                       class="btn btn-outline-danger"
                       th:text="#{common.delete}">
                    </a>
                </td>
            </tr>
            </tbody>
        </table>

        <!--paginacja i sortowanie-->
        <div class="row">
            <ul th:if="${person.totalPages}" class="pagination justify-content-center">

                <!--strzałka w lewo-->
                <li th:if="${person.number != 0}" class="page-item">
                    <a th:href="@{'/people?' + ${filter.toQueryString(person.number - 1, person.sort)}}"
                       th:class="page-link">
                        <!--ikona kąt w lewo-->
                        <i class="fa-solid fa-angle-left"></i>
                    </a>
                </li>

                <!--logika paginacji i sortowania-->
                <li th:each="pageNumber : ${#numbers.sequence(T(java.lang.Math).max(person.number - 3, 0), T(java.lang.Math).min(person.number + 3, person.totalPages - 1))}"
                    th:class="${'page-item ' + ((pageNumber == person.number) ? 'active' : '')}">
                    <a th:href="@{'/people?' + ${filter.toQueryString(pageNumber, person.sort)}}"
                       th:text="${pageNumber + 1}"
                       class="page-link"></a>
                </li>

                <!--strzałka w prawo-->
                <li th:if="${person.number != (person.totalPages - 1)}" class="page-item">
                    <a th:href="@{'/people?' + ${filter.toQueryString(person.number + 1, person.sort)}}"
                       th:class="page-link">
                        <!--ikona kąt w prawo-->
                        <i class="fa-solid fa-angle-right"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>
</body>
</html>