<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mainLayout}">
<head>
    <meta charset="UTF-8">
    <title>Użytkownicy</title>
</head>
<body>
<section layout:fragment="custom-content">
    <div class="container">

        <!--Lista użytkowników-->
        <h1 class="text-center" th:text="#{people.peopleList}"></h1>

        <!--Nowy użytkownik-->
        <div class="py-3">
            <a th:href="@{/people/create}" class="btn btn-success" th:text="#{people.create}"></a>
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <!--Nazwa użytkownika-->
                <th th:text="#{common.login}"></th>
                <!--Imię-->
                <th th:text="#{common.realName}"></th>
                <!--Edycja-->
                <th th:text="#{common.edition}"></th>
                <!--Usuwanie-->
                <th th:text="#{common.removal}"></th>
            </tr>
            </thead>

            <tbody>
            <!--wyświetli w pętli wszystkich użytkowników-->
            <tr th:each="per: ${person}">
                <td th:text="${per.login}"></td>
                <td th:text="${per.realName}"></td>
                <!--Edytuj-->
                <td>
                    <a th:href="@{'/people/edit/' + ${per.id}}" class="btn btn-outline-secondary"
                       th:text="#{common.edit}"></a>
                </td>
                <!--Usuń-->
                <td>
                    <a th:if="${per.id}" th:href="@{/people/delete/{id}(id=${per.id})}"
                       class="btn btn-outline-danger"
                       th:text="#{common.delete}">
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
</body>
</html>