<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mainLayout2}">
<head>
    <meta charset="UTF-8">
    <title th:text="#{contact.label}"/>
</head>
<body>
<section layout:fragment="custom-content">
    <div>
        <section class="container">
            <!--<h3 th:text="#{application.name2}" class="mt-4 mb-5 d-flex justify-content-center"></h3>-->
            <!--<div style="text-align: center"><img src="/images/favicon.ico" alt="Inicjały JS"></div>-->
            <h3>To ja Jacek student WSB</h3>
        </section>
    </div>
</section>
</body>
</html>