<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mainLayout}">
<head>
    <meta charset="UTF-8">
    <title th:text="#{contact.label}"/>
</head>
<body>
<section layout:fragment="custom-content">
    <div>
        <section class="container">

            <!--Skontaktuj się ze mną-->
            <h3 th:text="#{contact.contact}"></h3>

            <!--Komunikaty dymkowe-->
            <div th:if="${status == 'success'}" class="col-4 alert alert-success alert-dismissible fade show" role="alert">
                <div th:text="#{email.success.message}"></div>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

            <form class="mt-4 needs-validation" novalidate th:action="@{/mails}" method="post"
            enctype="multipart/form-data">

                <!--Odbiorca-->
                <div class="row form-group py-3">
                    <div class="col-sm-1" th:text="#{email.recipient}"></div>
                    <div class="col-sm-5">
                        <span class="input-group-text" id="basic-addon1">jacekpa23143@gmail.com</span>
                        <!--<input type="text" name="recipient" class="form-control">-->
                    </div>
                </div>

                <!--Temat-->
                <div class="row form-group">
                    <div class="col-sm-1" th:text="#{email.subject}"></div>
                    <div class="col-sm-5">
                        <input type="text" name="subject" class="form-control"
                               th:placeholder="#{email.subject.placeholder}" autofocus required>
                        <div class="invalid-feedback" th:text="#{email.subject.validation}"></div>
                    </div>
                </div>

                <!--Treść-->
                <div class="row form-group py-3">
                    <div class="col-sm-1" th:text="#{email.content}"></div>
                    <div class="col-sm-5">
                        <textarea rows="8" name="content" class="form-control"
                                  th:placeholder="#{email.content.placeholder}" required></textarea>
                        <div class="invalid-feedback" th:text="#{email.content.validation}"></div>
                    </div>
                </div>

                <!--Załącznik-->
                <div class="row form-group">
                    <div class="col-sm-1" th:text="#{email.attachment}"></div>
                    <div class="col-sm-5">
                        <input type="file" name="attachment" class="form-control-file">
                    </div>
                </div>

                <div class="text-right py-3">
                    <!--Przycisk wyślij-->
                    <button type="submit" class="btn btn-primary" th:text="#{common.send}" onclick="validationMail()"></button>

                    <!--Przycisk powrót-->
                    <a th:href="@{/}" class="btn btn-outline-secondary" th:text="#{common.return}"></a>
                </div>

            </form>

        </section>
    </div>
</section>
</body>
</html>