<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mainLayout}">
<head>
    <meta charset="UTF-8">
    <title th:text="#{projects.label}"/>
</head>
<body>
<section layout:fragment="custom-content">
    <div class="container">

        <!--Komunikaty dymkowe-->
        <div th:if="${status == 'success'}" class="col-4 alert alert-warning alert-dismissible fade show" role="alert">
            <div th:text="#{success.message}"></div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div th:if="${status == 'error'}" class="col-4 alert alert-danger alert-dismissible fade show" role="alert">
            <div th:text="#{error.message}"></div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        <!--Nowy projekt-->
        <h1 th:if="${project.id == null}" th:text="#{design.create}"></h1>

        <!--Edycja projektu-->
        <h1 th:if="${project.id != null}" th:text="|#{design.projectEdition} ${project.code}|"></h1>

        <form th:action="@{/projects/save}" th:object="${project}" method="post">
            <!--Przekazanie w ukrytym polu id obiektu aby było wiadomo że jest to istniejący obiekt w bazie danych-->
            <input type="hidden" th:field="*{id}">

            <!--Nazwa-->
            <div class="mb-3 row mt-3">
                <div class="col-1">
                    <label for="project-name" class="form-label" th:text="#{common.name}"></label>
                </div>

                <div class="col-4">
                    <input type="text" placeholder="ABC"
                           th:class="'form-control ' + ${#fields.hasErrors('name') ? 'is-invalid' : ''}"
                           id="project-name"
                           th:field="*{name}"
                           autofocus>
                    <div class="form-text">
                        <!--tekst na czerwono z błędami-->
                        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <!--Kod-->
            <div class="mb-3 row">
                <div class="col-1">
                    <label for="project-code" class="form-label" th:text="#{common.code}"></label>
                </div>

                <div class="col-2">
                    <input type="text" placeholder="ABC"
                           th:class="'form-control ' + ${#fields.hasErrors('code') ? 'is-invalid' : ''}"
                           id="project-code"
                           th:field="*{code}">
                    <div class="form-text">
                        <!--tekst na czerwono z błędami-->
                        <span th:if="${#fields.hasErrors('code')}" th:errors="*{code}" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <!--Opis-->
            <div class="mb-3 row">
                <div class="col-1">
                    <label for="project-description" class="form-label" th:text="#{common.description}"></label>
                </div>

                <div class="col-8">
                <textarea
                        placeholder="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ut elit in libero porttitor interdum."
                        th:class="'form-control ' + ${#fields.hasErrors('description') ? 'is-invalid' : ''}"
                        id="project-description" rows="8"
                        th:field="*{description}">
                </textarea>
                    <div class="form-text">
                        <!--tekst na czerwono z błędami-->
                        <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"
                              class="text-danger"></span>
                    </div>
                </div>
            </div>

            <!--Przycisk zapisz-->
            <button type="submit" class="btn btn-primary" th:text="#{common.save}"></button>

            <!--Przycisk anuluj-->
            <a th:if="${project.id}" th:href="@{../edit/{id}(id=${project.id})}" class="btn btn-secondary"
               th:text="#{common.cancel}"></a>

            <!--Przycisk usuń-->
            <a th:if="${project.id}" th:href="@{../delete/{id}(id=${project.id})}" class="btn btn-danger"
               th:text="#{common.delete}">
            </a>

            <!--Przycisk powrotu-->
            <a th:href="@{/projects}" class="btn btn-outline-secondary" th:text="#{common.return}"></a>
        </form>
    </div>
</section>
</body>
</html>