<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mainLayout}">
<head>
    <meta charset="UTF-8">
    <title th:text="#{issues.label}"/>
</head>
<body>
<section layout:fragment="custom-content">
    <div class="container">

        <!--Lista zgłoszeń-->
        <h1 class="text-center" th:text="#{problem.problemList}"></h1>

        <!--Komunikaty dymkowe-->
        <div th:if="${status == 'success'}" class="col-4 alert alert-success alert-dismissible fade show" role="alert">
            <div th:text="#{success.message}"></div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        <!--Formularz z filtrami-->
        <form th:action="@{/issues}" th:object="${filter}" class="row">

            <!--Szukaj po nazwie projektu-->
            <div class="col py-3">
                <select th:field="*{project}"
                        class="form-select">
                    <option th:value="${null}" th:text="#{project.placeholder}"></option> // pierwsza opcja null
                    <option th:each="project : ${projects}"
                            th:value="${project.id}"
                            th:text="${project.name}">
                    </option> // w value wysyłam id projektu i wyświetlam jego nazwę
                </select>
            </div>

            <!--Szukaj po stanie-->
            <div class="col py-3">
                <select th:field="*{state}"
                        class="form-select ml-2">
                    <option th:value="${null}" th:text="#{state.placeholder}"></option>
                    <option th:each="state : ${states}"
                            th:value="${state}"
                            th:text="${#messages.msg('state.' + state)}">
                    </option>
                </select>
            </div>

            <!--Szukaj po wykonawcy-->
            <div class="col py-3">
                <select th:field="*{assignee}"
                        class="form-select ml-2">
                    <option th:value="${null}" th:text="#{assignee.placeholder}"></option>
                    <option th:each="person : ${people}"
                            th:value="${person.id}"
                            th:text="${person.realName}">
                    </option>
                </select>
            </div>

            <!--Przycisk szukaj-->
            <div class="col py-3">
                <button type="submit" th:text="#{common.search}"
                        class="btn btn-outline-info"></button>

                <!--Przycisk wyczyść-->
                <a th:href="@{/issues}" th:text="#{common.clear}" class="btn btn-outline-warning"></a>
            </div>

            <!--sortowanie - strzałki-->
            <div class="row py-3">
                <span th:text="#{sort.order}"></span>
                <span th:with="sortingDir=${issues.sort.getOrderFor('name') != null ? issues.sort.getOrderFor('name').direction.toString() : null }">
                    <a th:href="@{'/issues?' + ${filter.toQueryString(issues.number, filter.findNextSorting(issues.sort))}}">
                        <i th:if="${sortingDir == null}" class="fa-solid fa-sort fa-xl"></i>
                        <i th:if="${sortingDir == 'ASC'}" class="fa-solid fa-sort-up fa-xl"></i>
                        <i th:if="${sortingDir == 'DESC'}" class="fa-solid fa-sort-down fa-xl"></i>
                    </a>
                </span>
            </div>

        </form>

        <!--Nowe zgłoszenie-->
        <div class="py-3">
            <a th:if="${#authorization.expression('hasRole(''ROLE_MANAGE_PROJECT'')')}"
               th:href="@{/issues/create}" class="btn btn-success" th:text="#{problem.create}"></a>
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th></th>
                <th></th>
                <!--Kod-->
                <th th:text="#{common.code}"></th>
                <!--Nazwa-->
                <th th:text="#{common.name}"></th>
                <!--Kod projektu-->
                <th th:text="#{problem.project}"></th>
                <!--Edycja-->
                <th th:if="${#authorization.expression('hasRole(''ROLE_MANAGE_PROJECT'')')} or ${#authorization.expression('hasRole(''ROLE_USER_TAB'')')} or ${#authorization.expression('hasRole(''ROLE_MANAGE_COMMENTS'')')}"
                    th:text="#{common.edition}"></th>
                <!--Usuwanie-->
                <th th:if="${#authorization.expression('hasRole(''ROLE_MANAGE_PROJECT'')')}"
                    th:text="#{common.removal}"></th>
            </tr>
            </thead>

            <tbody class="table-group-divider">
            <!--wyświetli w pętli wszystkie zgłoszenia-->
            <tr th:each="issue: ${issues}">
                <td th:text="${issueStat.count}"></td>
                <td class="col-4">
                    <div>
                        <span class="px-1 badge text-bg-primary" th:text="${issue.assignee.realName}"></span>
                        <span class="px-1 badge text-bg-secondary" th:text="${#messages.msg('type.' + issue.type)}"></span>
                        <span class="px-1 badge text-bg-danger" th:text="${#messages.msg('priority.' + issue.priority)}"></span>
                        <span class="px-1 badge text-bg-warning" th:text="${#messages.msg('state.' + issue.state)}"></span>
                    </div>
                </td>
                <td th:text="${issue.code}"></td>
                <td th:text="${issue.name}"></td>
                <td th:text="${issue.project.code}"></td>
                <!--Edytuj-->
                <td class="col-1" th:if="${#authorization.expression('hasRole(''ROLE_MANAGE_PROJECT'')')}">
                    <a th:href="@{'/issues/edit/' + ${issue.id}}" class="btn btn-outline-secondary"
                       th:text="#{common.edit}"></a>
                </td>
                <!--Edytuj dla użytkownika-->
                <td class="col-1"
                    th:if="${#authorization.expression('hasRole(''ROLE_USER_TAB'')')} or ${#authorization.expression('hasRole(''ROLE_MANAGE_USERS'')')} or ${#authorization.expression('hasRole(''ROLE_MANAGE_COMMENTS'')')}"
                    th:hidden="${#authorization.expression('hasRole(''ROLE_MANAGE_PROJECT'')')}">
                    <a th:href="@{'/issues/editForm/' + ${issue.id}}" class="btn btn-outline-secondary"
                       th:text="#{common.edit}"></a>
                </td>
                <!--Usuń-->
                <td class="col-1" th:if="${#authorization.expression('hasRole(''ROLE_MANAGE_PROJECT'')')}">
                    <a th:if="${issue.id}" th:href="@{/issues/delete/{id}(id=${issue.id})}"
                       class="btn btn-outline-danger"
                       th:text="#{common.delete}">
                    </a>
                </td>
            </tr>
            </tbody>
        </table>

        <!--paginacja i sortowanie-->
        <div class="row">
            <ul th:if="${issues.totalPages}" class="pagination justify-content-center">

                <!--strzałka w lewo-->
                <li th:if="${issues.number != 0}" class="page-item">
                    <a th:href="@{'/issues?' + ${filter.toQueryString(issues.number - 1, issues.sort)}}"
                       th:class="page-link">
                        <!--ikona kąt w lewo-->
                        <i class="fa-solid fa-angle-left"></i>
                    </a>
                </li>

                <!--logika paginacji i sortowania-->
                <li th:each="pageNumber : ${#numbers.sequence(T(java.lang.Math).max(issues.number - 3, 0), T(java.lang.Math).min(issues.number + 3, issues.totalPages - 1))}"
                    th:class="${'page-item ' + ((pageNumber == issues.number) ? 'active' : '')}">
                    <a th:href="@{'/issues?' + ${filter.toQueryString(pageNumber, issues.sort)}}"
                       th:text="${pageNumber + 1}"
                       th:class="page-link"></a>
                </li>

                <!--strzałka w prawo-->
                <li th:if="${issues.number != (issues.totalPages - 1)}" class="page-item">
                    <a th:href="@{'/issues?' + ${filter.toQueryString(issues.number + 1, issues.sort)}}"
                       th:class="page-link">
                        <!--ikona kąt w prawo-->
                        <i class="fa-solid fa-angle-right"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>
</body>
</html>