<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mainLayout}">
<head>
    <meta charset="UTF-8">
    <title th:text="#{issues.label}"/>
</head>
<body>
<section layout:fragment="custom-content">
    <div class="container">

        <!--Lista zgłoszeń-->
        <h1 class="text-center" th:text="#{problem.problemList}"></h1>

        <!--Komunikaty dymkowe-->
        <div class="col-4">
            <div class="alert alert-success" th:if="${status == 'success'}" th:text="#{issue.success.message}"></div>
        </div>

        <!--Formularz z filtrami-->
        <form th:action="@{/issues}" th:object="${filter}" class="row">

            <!--Szukaj po nazwie projektu-->
            <div class="col py-3">
                <select th:field="*{project}"
                        class="form-control">
                    <option th:value="${null}" th:text="#{project.placeholder}"></option>
                    // pierwsza opcja null
                    <option th:each="project : ${projects}"
                            th:value="${project.id}"
                            th:text="${project.name}">
                    </option>
                    // w value wysyłam id projektu i wyświetlam jego nazwę
                </select>
            </div>

            <!--Szukaj po stanie-->
            <div class="col py-3">
                <select th:field="*{state}"
                        class="form-control ml-2">
                    <option th:value="${null}" th:text="#{state.placeholder}"></option>
                    <option th:each="state : ${states}"
                            th:value="${state}"
                            th:text="${#messages.msg('state.' + state)}">
                    </option>
                </select>
            </div>

            <!--Szukaj po wykonawcy-->
            <div class="col py-3">
                <select th:field="*{contractor}"
                        class="form-control ml-2">
                    <option th:value="${null}" th:text="#{contractor.placeholder}"></option>
                    <option th:each="person : ${people}"
                            th:value="${person.id}"
                            th:text="${person.realName}">
                    </option>
                </select>
            </div>

            <!--Przycisk szukaj-->
            <div class="col py-3">
                <button type="submit" th:text="#{common.search}"
                        class="btn btn-outline-info"></button>

                <!--Przycisk wyczyść-->
                <a th:href="@{/issues}" th:text="#{common.clear}" class="btn btn-outline-warning"></a>
            </div>

        </form>

        <!--Nowe zgłoszenie-->
        <div class="py-3">
            <a th:href="@{/issues/create}" class="btn btn-success" th:text="#{problem.create}"></a>
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <!--Kod-->
                <th th:text="#{common.code}"></th>
                <!--Projekt-->
                <th th:text="#{problem.project}"></th>
                <!--Nazwa-->
                <th th:text="#{common.name}"></th>
                <!--Edycja-->
                <th th:text="#{common.edition}"></th>
                <!--Usuwanie-->
                <th th:text="#{common.removal}"></th>
            </tr>
            </thead>

            <tbody>
            <!--wyświetli w pętli wszystkie zgłoszenia-->
            <tr th:each="issue: ${issues}">
                <td th:text="${issue.code}"></td>
                <td th:text="${issue.project.code}"></td>
                <td th:text="${issue.name}"></td>
                <!--Edytuj-->
                <td>
                    <a th:href="@{'/issues/edit/' + ${issue.id}}" class="btn btn-outline-secondary"
                       th:text="#{common.edit}"></a>
                </td>
                <!--Usuń-->
                <td>
                    <a th:if="${issue.id}" th:href="@{/issues/delete/{id}(id=${issue.id})}"
                       class="btn btn-outline-danger"
                       th:text="#{common.delete}">
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
</body>
</html>