<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mainLayout}">
<head>
    <meta charset="UTF-8">
    <title th:text="#{issues.label}"/>
</head>
<body>
<section layout:fragment="custom-content">
    <div class="container">

        <!--Lista zgłoszeń-->
        <h1 class="text-center" th:text="#{problem.problemList}"></h1>

        <!--Nowe zgłoszenie-->
        <div class="py-3">
            <a th:href="@{/issues/create}" class="btn btn-success" th:text="#{problem.create}"></a>
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <!--Kod-->
                <th th:text="#{common.code}"></th>
                <!--Projekt-->
                <th th:text="#{problem.project}"></th>
                <!--Nazwa-->
                <th th:text="#{common.name}"></th>
                <!--Edycja-->
                <th th:text="#{common.edition}"></th>
                <!--Usuwanie-->
                <th th:text="#{common.removal}"></th>
            </tr>
            </thead>

            <tbody>
            <!--wyświetli w pętli wszystkie zgłoszenia-->
            <tr th:each="issue: ${issues}">
                <td th:text="${issue.code}"></td>
                <td th:text="${issue.project.code}"></td>
                <td th:text="${issue.name}"></td>
                <!--Edytuj-->
                <td>
                    <a th:href="@{'/issues/edit/' + ${issue.id}}" class="btn btn-outline-secondary"
                       th:text="#{common.edit}"></a>
                </td>
                <!--Usuń-->
                <td>
                    <a th:if="${issue.id}" th:href="@{/issues/delete/{id}(id=${issue.id})}" class="btn btn-outline-danger"
                       th:text="#{common.delete}">
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
</body>
</html>