<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mainLayout}">
<head>
    <meta charset="UTF-8">
    <title th:text="#{issues.label}"/>
</head>
<body>
<section layout:fragment="custom-content">
    <div class="container">

        <div class="d-flex justify-content-center">
            <!--Komunikaty dymkowe-->
            <div th:if="${status == 'success'}" class="col-10 alert alert-warning alert-dismissible fade show"
                 role="alert">
                <div th:text="#{success.message}"></div>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div th:if="${status == 'error'}" class="col-10 alert alert-danger alert-dismissible fade show"
                 role="alert">
                <div th:text="#{error.message}"></div>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>

        <form th:action="@{/issues/updateIssue/{id}(id=${issueForm.id})}" th:object="${issueForm}" method="post">
            <!--Przekazanie w ukrytym polu id obiektu aby było wiadomo że jest to istniejący obiekt w bazie danych-->
            <input type="hidden" th:field="*{id}" id="issue-id">

            <div class="d-flex justify-content-center">
                <div class="card col-10">
                    <div class="card-header">
                        <!--Edycja zgłoszenia-->
                        <h2 class="card-title" th:text="|#{problem.issueEdition} ${issueForm.code}|"></h2>
                    </div>

                    <div class="card-body text-center">
                        <p class="card-text">
                            <div class="mb-3 row mt-3">
                                <div class="col-4">
                                    <!--Obsługa projektu-->
                                    <div class="mb-3 row mt-3">
                                        <div class="col-4">
                                            <label for="project" class="form-label" th:text="#{problem.project}"></label>
                                        </div>

                                        <div class="col">
                                            <select id="project" class="form-select" th:field="*{project}"
                                                    autofocus
                                                    th:disabled="!(${#authorization.expression('hasRole(''ROLE_MANAGE_PROJECT'')')})">
                                                <option th:each="project : ${projects}"
                                                        th:value="${project.id}"
                                                        th:text="${project.code}">
                                                </option>
                                            </select>
                                        </div>
                                    </div>

                                    <!--Obsługa wykonawcy zgłoszenia-->
                                    <div class="mb-3 row">
                                        <div class="col-4">
                                            <label for="assignee" class="form-label" th:text="#{problem.assignee}"></label>
                                        </div>

                                        <div class="col">
                                            <select id="assignee" class="form-select" th:field="*{assignee}"
                                                    th:disabled="!(${#authorization.expression('hasRole(''ROLE_MANAGE_PROJECT'')')})">
                                                <option th:each="assignee : ${people}"
                                                        th:value="${assignee.id}"
                                                        th:text="${assignee.username}">
                                                </option>
                                            </select>
                                        </div>
                                    </div>

                                    <!--Obsługa Enumu, typu zgłoszenia-->
                                    <div class="mb-3 row">
                                        <div class="col-4">
                                            <label for="select-type" class="form-label" th:text="#{problem.type}"></label>
                                        </div>

                                        <div class="col">
                                            <select name="select-type" id="select-type" class="form-select" th:field="*{type}"
                                                    onchange="setType()"
                                                    th:disabled="!(${#authorization.expression('hasRole(''ROLE_MANAGE_PROJECT'')')})">
                                                <option
                                                        th:each="issueType : ${T(com.example.projektpokazowyjs2023.issues.IssueType).values()}"
                                                        th:value="${issueType}"
                                                        th:text="#{${'type.' + issueType.name()}}">
                                                </option>
                                            </select>
                                        </div>
                                    </div>

                                    <!--Obsługa Enumu, priorytetu zgłoszenia-->
                                    <div class="mb-3 row">
                                        <div class="col-4">
                                            <label for="select-priority" class="form-label" th:text="#{problem.priority}"></label>
                                        </div>

                                        <div class="col">
                                            <select name="select-priority" id="select-priority" class="form-select" th:field="*{priority}"
                                                    onchange="setPriority()"
                                                    th:disabled="!(${#authorization.expression('hasRole(''ROLE_MANAGE_PROJECT'')')})">
                                                <option
                                                        th:each="issuePriority : ${T(com.example.projektpokazowyjs2023.issues.IssuePriority).values()}"
                                                        th:value="${issuePriority}"
                                                        th:text="#{${'priority.' + issuePriority.name()}}">
                                                </option> // 'priority.' (tłumaczenie) + nazwa zmiennej w pętli i po kropce nazwa enumu
                                            </select>
                                        </div>
                                    </div>

                                    <!--Obsługa Enumu, stanu zgłoszenia-->
                                    <div class="mb-3 row">
                                        <div class="col-4">
                                            <label for="select-state" class="form-label" th:text="#{problem.state}"></label>
                                        </div>

                                        <div class="col">
                                            <select name="select-state" id="select-state" class="form-select" th:field="*{state}"
                                                    onchange="setState()"
                                                    th:disabled="!(${#authorization.expression('hasRole(''ROLE_USER_TAB'')')} or ${#authorization.expression('hasRole(''ROLE_MANAGE_PROJECT'')')})">
                                                <option
                                                        th:each="issueState : ${T(com.example.projektpokazowyjs2023.issues.IssueState).values()}"
                                                        th:value="${issueState}"
                                                        th:text="#{${'state.' + issueState.name()}}">
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-8">
                                    <div class="mb-3 row mt-3">
                                        <!--Kod zgłoszenia-->
                                        <div class="col-2">
                                            <label for="issue-code" class="form-label" th:text="#{common.code}"></label>
                                        </div>

                                        <div class="col-3">
                                            <input type="text" placeholder="BUG"
                                                   class="form-control"
                                                   id="issue-code"
                                                   th:field="*{code}"
                                                   th:disabled="!(${#authorization.expression('hasRole(''ROLE_MANAGE_PROJECT'')')})">
                                            <div class="form-text"></div>
                                        </div>

                                        <!--Nazwa zgłoszenia-->
                                        <div class="col-2">
                                            <label for="issue-name" class="form-label" th:text="#{common.name}"></label>
                                        </div>

                                        <div class="col-5">
                                            <input type="text" placeholder="Bug"
                                                   class="form-control"
                                                   id="issue-name"
                                                   th:field="*{name}"
                                                   th:disabled="!(${#authorization.expression('hasRole(''ROLE_MANAGE_PROJECT'')')})">
                                            <div class="form-text"></div>
                                        </div>
                                    </div>

                                    <div class="mb-3 row">
                                        <!--Opis zgłoszenia-->
                                        <div class="col-2">
                                            <label for="issue-description" class="form-label" th:text="#{common.description}"></label>
                                        </div>

                                        <div class="col">
                                            <textarea
                                                    placeholder="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ut elit in libero porttitor interdum."
                                                    th:class="'form-control ' + ${#fields.hasErrors('description') ? 'is-invalid' : ''}"
                                                    id="issue-description" rows="7"
                                                    th:field="*{description}"
                                                    th:disabled="!(${#authorization.expression('hasRole(''ROLE_USER_TAB'')')} or ${#authorization.expression('hasRole(''ROLE_MANAGE_PROJECT'')')})">
                                            </textarea>
                                            <div class="form-text">
                                                <!--tekst na czerwono z błędami-->
                                                <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"
                                                      class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </p>
                    </div>

                    <div class="card-footer text-body-secondary">
                        <!--Przycisk zapisz-->
                        <button th:if="${#authorization.expression('hasRole(''ROLE_USER_TAB'')')}" type="submit"
                                class="btn btn-primary" th:text="#{common.save}"></button>

                        <!--Przycisk anuluj-->
                        <span th:if="${#authorization.expression('hasRole(''ROLE_USER_TAB'')')}">
                            <button th:if="${issueForm.id}" type="reset" class="btn btn-secondary" th:text="#{common.cancel}"></button>
                        </span>

                        <!--Przycisk powrotu-->
                        <a th:href="@{/issues}" class="btn btn-outline-secondary" th:text="#{common.return}"></a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
</body>
</html>